.liquidBtn {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  span {
    position: relative;
    z-index: 2;
  }

  canvas {
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
  }
}

.liquidCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: url('#liquid');
}