.liquidBtn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #0f62fe;
  border: none;
  cursor: pointer;
  min-width: 150px;
  transition: background-color 0.2s ease;

  span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 24px;
    color: #ffffff;
    z-index: 2;
  }

  &:hover {
    background-color: #0353e9;
  }

  &:active {
    background-color: #002d9c;
  }
}
