.sliceBtn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: 1px solid #0f62fe;
  cursor: pointer;
  min-width: 150px;
  transition: all 0.2s ease;

  span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 24px;
    color: #0f62fe;
  }

  &:hover {
    background-color: rgba(15, 98, 254, 0.1);
  }

  &:active {
    background-color: rgba(15, 98, 254, 0.2);
  }
}
