.button {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #0f62fe;
  border: none;
  cursor: pointer;
  min-width: 150px;
  transition: background-color 0.2s ease;

  .buttonText {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 20px;
    color: #ffffff;
    text-align: center;
    z-index: 1;
  }

  &:hover {
    background-color: #0353e9;
  }

  &:active {
    background-color: #002d9c;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #c6c6c6;

    &:hover {
      background-color: #c6c6c6;
    }
  }
}
