.glitch {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &:hover::before {
    animation: glitch-1 0.3s infinite linear alternate-reverse;
    color: $color-accent-cyan;
    z-index: -1;
    opacity: 0.8;
  }

  &:hover::after {
    animation: glitch-2 0.3s infinite linear alternate-reverse;
    color: $color-accent-orange;
    z-index: -2;
    opacity: 0.8;
  }
}
