@use '@/styles/abstracts/variables' as *;

.textReveal {
  overflow: hidden;
  display: inline-block;
}

.word {
  display: inline-block;
  overflow: hidden;
  margin-right: 0.25em;

  &:last-child {
    margin-right: 0;
  }
}

.char {
  display: inline-block;
}
