.container {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include respond-to('md') {
    height: 350px;
  }
}

.cloud {
  position: relative;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;

  @include respond-to('md') {
    width: 300px;
    height: 300px;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s linear, opacity 0.1s linear;
  will-change: transform, opacity;

  @include respond-to('md') {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
    transition: filter $transition-fast, transform $transition-fast;
  }

  &:hover img {
    filter: drop-shadow(0 4px 16px rgba(0, 122, 255, 0.3));
    transform: scale(1.2);
  }
}
