.loader {
  border-top-color: $color-accent-primary;
  border-bottom-color: $color-accent-teal;
  border-left-color: $color-accent-secondary;
  border-right-color: $color-success;
  border-style: solid;
  border-radius: 100%;
  animation: morph 5s infinite ease-in-out;
  box-sizing: border-box;
}

@keyframes morph {
  0% {
    border-radius: 100% 100% 100% 100%;
    border-color: $color-accent-primary $color-accent-secondary $color-success $color-accent-teal;
  }

  10% {
    border-radius: 0% 100% 0% 0%;
    border-color: $color-accent-teal;
    transform: rotate(150deg);
  }

  20% {
    border-radius: 0% 0% 0% 0%;
    border-color: $color-accent-secondary;
  }

  30% {
    border-radius: 0% 0% 0% 0%;
    border-color: $color-success;
  }

  40% {
    border-radius: 0% 0% 0% 0%;
    border-color: $color-accent-secondary;
  }

  50% {
    border-radius: 100%;
    border-color: $color-accent-teal;
  }

  90% {
    border-radius: 100%;
    transform: rotate(360deg);
    border-style: dashed;
  }

  100% {
    transform: rotate(0deg);
    border-radius: 100% 100% 100% 100%;
    border-color: $color-accent-primary $color-accent-secondary $color-success $color-accent-teal;
  }
}
