.button {
  position: fixed;
  bottom: 320px;
  left: 24px;
  width: 56px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: $color-text-primary;
  background: none;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateX(-100px);
  display: flex;
  align-items: center;
  justify-content: center;

  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  // Underline animation
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 10px;
    left: 50%;
    width: 30px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    background: $color-accent-primary;
    transition: transform 0.25s ease-out;
  }

  &:hover::before {
    transform: translateX(-50%) scaleX(1);
  }

  svg {
    width: 24px;
    height: 24px;
    transition: 0.2s ease-out;

    path {
      fill: $color-accent-primary;
    }
  }

  &:hover svg {
    transform: translateY(-4px);
  }

  @include respond-to('md') {
    bottom: 300px;
    left: 16px;
    width: 48px;
    height: 48px;

    svg {
      width: 20px;
      height: 20px;
    }

    &::before {
      width: 24px;
    }
  }
}
