.section {
  padding: 80px 0;
  overflow: hidden;
}

.introBox {
  text-align: center;
  margin-bottom: 20px;
}

.introTitle {
  font-family: $font-display;
  font-size: 28px;
  font-weight: 600;
  color: $color-text-primary;
  margin-bottom: 0;

  @include respond-to('md') {
    font-size: 22px;
  }
}
